<!DOCTYPE html>
<html>
<head>
	<title>Event ID Informant</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">

	var eventIds = [];

	function submit2(e){
		console.log("OLA");
		var domain = "http://localhost:32797/";
		var route = "event/";
		var id = e.target.innerText;

		var uri = domain.concat(route).concat(id);

		$.ajax({  
           type: "GET",  
           url: uri,  
           data: {},  
           success: function(resp){  
             // we have the response  
             log(resp);
             updateDisplayedEventInfo(resp);

           },  
           error: function(e){  
             alert('Error121212: ' + e);  
           }  
         });
	}

	function log(e){
		console.log(e);
	}

	function updateDisplayedEventInfo(response) {
		var show_event_id = document.getElementById("show_event_id");
		var show_event_desc = document.getElementById("show_event_desc");
		var show_event_ex = document.getElementById("show_event_ex");

		show_event_ex.innerText = response.eEx;
		show_event_desc.innerText = response.eDesc;
		show_event_id.innerText = response.eID;
	}
	 function submit(e) {
	 		var eId = document.getElementById("event_search").value;
			eventIds.push(eId);

			var refTableContainer = document.getElementById("event_list");
			 var btn = document.createElement("BUTTON");
			 
			 btn.class = "btn-primary";
			 btn.onclick = submit2;
			 btn.innerText = eId;

			 refTableContainer.appendChild(btn);
			console.log(eventIds);
		}
	</script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>TSG Companion</h1>
  <p>Angad Kashyap</p> 
</div>

<div class="container">
  <div class="row text-center">
  Events to search for: 
	<input id="event_search" type="text" name="firstname"/>	
	<button onclick="submit()" class="btn-primary"> Search Event (s)</button>
  </div>

  <div class="row">
    <div id="event_list" class="col-lg-6">
	    
    </div>
    <div class="col-lg-6">
      <h3> Event ID: </h3><div id ="show_event_id"> </div>
	  <br><br>
	  <h3> Event Description: </h3>
	  <br>
	  <div id ="show_event_desc"> </div>
	  <br><br>
	  <h3> Event Data Example: </h3>
	  <br>
	  <div id ="show_event_ex"> </div>
    </div>
    
  </div>
</div

</body>
</html> 